openapi: 3.0.0
info:
  title: Valid Panel - Social Media Store API Documentation
  version: 1.0.0
  description: |
    Comprehensive API documentation for the Social Media Store feature of Valid Panel, covering all user and admin endpoints related to service ordering, wallet operations, referrals, authentication, and store management.
  contact:
    name: Valid Code
    url: 'https://linkedin.com/in/thevalidcode'
    email: thevalidcode@gmail.com
servers:
  - url: 'https://validpanel.com:6060'
    description: Public testing server (use this to test endpoints)
  - url: 'https://{domain}:6060'
    description: 'Custom panel domain (replace `{domain}` with your own)'
    variables:
      domain:
        default: yourdomain.com
        description: Your custom panel domain (e.g. `myreseller.com`)
  - url: 'http://localhost:6060'
    description: Local development server
paths:
  /user/me:
    get:
      tags:
        - Users
      summary: Authenticate and log in a user
      parameters:
        - in: query
          name: email
          schema:
            type: string
        - in: query
          name: password
          schema:
            type: string
        - in: query
          name: panel_id
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  '/user/{uid}':
    get:
      tags:
        - Users
      summary: Get a user by UID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/UserObject'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/ServerError'
  /user/multiple:
    delete:
      tags:
        - Users
      summary: Delete multiple users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - uids
              properties:
                uids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/ServerError'
  /user:
    get:
      tags:
        - Users
      summary: Get all users
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/UsersListResponse'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Users
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserInput'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - Users
      summary: Update user info
      description: Allows updating user information by UID. Only specific fields are accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateSuccess'
        '400':
          $ref: '#/components/responses/InvalidData'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Users
      summary: Delete a single user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - uid
              properties:
                uid:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/panel_id:
    get:
      tags:
        - Panel
      summary: Get the internal panel ID for a custom domain
      parameters:
        - in: query
          name: domain
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/PanelIdResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/styles:
    get:
      tags:
        - Panel
      summary: Get design styles for a panel
      parameters:
        - in: query
          name: panel_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DesignStylesResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/site-data:
    get:
      tags:
        - Panel
      summary: Get general site data for a panel
      parameters:
        - in: query
          name: panel_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SiteDataResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/rates:
    get:
      tags:
        - Panel
      summary: Get latest exchange rates
      responses:
        '200':
          $ref: '#/components/responses/ExchangeRatesResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/current-user:
    get:
      tags:
        - Panel
      summary: Get the currently authenticated user
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/CurrentUserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /panel/current-admin:
    get:
      tags:
        - Panel
      summary: Get the currently authenticated admin
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: uid
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/CurrentAdminResponse'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /api/auth/panel/login/google:
    get:
      tags:
        - Auth
      summary: Redirect user to Google OAuth login
      description: Generates and redirects to Google's OAuth login URL with the panel ID and redirect URL embedded in state.
      parameters:
        - in: query
          name: redirect
          required: true
          schema:
            type: string
            format: uri
          description: URL to redirect back to after successful login
        - in: query
          name: panel_id
          required: true
          schema:
            type: integer
          description: Numeric panel ID
      responses:
        '302':
          description: |
            Redirects the user to the original `redirect` URL provided, with a `token` and `email` as query parameters.
            Example: `https://your-app.com/dashboard?token=abc123&email=user@example.com`
            The client should extract the `token` and use it in the `Authorization` header (`Bearer token`) to authenticate subsequent requests. The backend will use this to populate `req.auth`.
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    UserUpdateRequest:
      type: object
      required:
        - uid
      properties:
        uid:
          type: string
          example: abc123
        username:
          type: string
          example: validuser
        full_name:
          type: string
          example: Valid Name
        balance:
          type: number
          example: 100.5
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
        password:
          type: string
        status:
          type: string
        key:
          type: string
        role:
          type: string
    UserPublic:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
    CreateUserInput:
      type: object
      required:
        - email
        - username
        - password
        - panel_id
        - ref
      properties:
        email:
          type: string
        username:
          type: string
        password:
          type: string
        panel_id:
          type: number
        ref:
          type: string
    PanelId:
      type: object
      properties:
        panel_id:
          type: number
      required:
        - panel_id
    DesignStyles:
      type: object
      description: Flexible object holding style and theme settings
      additionalProperties: true
    SiteData:
      type: object
      description: Flexible object holding site‑wide configuration
      additionalProperties: true
    ExchangeRates:
      type: object
      description: Key‑value map of currency pairs to numeric rates
      additionalProperties:
        type: number
    AdminPublic:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
        role:
          type: string
      required:
        - id
        - email
        - username
        - role
    GoogleAuthRequest:
      type: object
      required:
        - id_token
        - panel_id
      properties:
        id_token:
          type: string
          description: Google OAuth ID token
        panel_id:
          type: number
          description: The panel identifier to fetch/store user
  responses:
    UpdateSuccess:
      description: User updated successfully
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: update-success
    InvalidData:
      description: Request is missing or has invalid fields
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: No valid fields to update
    UsersListResponse:
      description: List of users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'
    UserObject:
      description: Single user data
      content:
        application/json:
          schema:
            type: object
            properties:
              user:
                $ref: '#/components/schemas/User'
    LoginResponse:
      description: Login success response
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: string
                example: Logged in successfully
              token:
                type: string
              user:
                $ref: '#/components/schemas/UserPublic'
    SuccessMessage:
      description: Operation successful
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: string
                example: Created Successfully
    BadRequest:
      description: Missing or invalid input
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Missing required field
    AccessDenied:
      description: Access denied for non-admins
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Access denied. Admins only.
    ServerError:
      description: Unexpected internal error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Error performing request.
    PanelIdResponse:
      description: Panel ID lookup result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PanelId'
    DesignStylesResponse:
      description: Design styles configuration
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DesignStyles'
    SiteDataResponse:
      description: General site data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SiteData'
    ExchangeRatesResponse:
      description: Latest currency exchange rates
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExchangeRates'
    CurrentUserResponse:
      description: Current user record
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPublic'
    CurrentAdminResponse:
      description: Current admin record
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdminPublic'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Panel not found for the given domain
    GoogleLoginResponse:
      description: Successful login
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/components/schemas/User'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
